body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}



.chat-interface{
  width: 30%;
  height: 80vh;
  border: 5px solid rgb(212, 110, 214);
  border-radius: 10px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  padding: 1%;
  background-color: white;
  position: absolute;
  right: 0;
  bottom: 80px;
}

.msg-box{
  width: 60px;
  height: 60px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin-right: 30px;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 20px;
}

.msg-img{
  width: 90%;
  height: 90%;
}

.msg-panel{
  overflow-y: auto;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.answer{
  margin-right: 10%;
  padding: 1%;
  border-radius: 20px;
  line-height: 1.5;
  background-color: rgb(225, 35, 155);
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.question{
  margin-left: 40%;
  padding: 1%;
  border-radius: 20px;
  line-height: 1.5;
  background-color: blueviolet;
}

form{
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.user-input{
  flex-grow: 1;
  font-size: 1rem;
  min-height: 35px;
  padding: 1%;
  overflow-y: auto;
  width: 500px;
  border-radius: 20px;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-x: hidden;
  resize: none;
  line-height: 1.4;
}

button{
  width: 90px;
  height: 40px;
  cursor: pointer;
  background-image: url('./images/btn.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%; 
  background-color: white;
}